// Colors
$blue-color: #1c75bc; // Blue from the logo
$color-red: rgb(224, 61, 61);

// Sidebar
$sb-width: 260px;

// Notifications
$notificaion-wrapper-width: 450px;

$error: #ff5252;
$success: #4caf50;
$warning: #fb8c00;
$info: #2196f3;